# Dependencies
node_modules

# Build outputs
.turbo
dist
.next

# Environment
.env
.env.*.local
apps/*/.env

# IDE
.DS_Store
.idea
.vscode

# Logs
*.log
npm-debug.log*

# OS
Thumbs.db

# pnpm
pnpm-lock.yaml

